spring:
 # 环境 dev|test|pro
  profiles:
    active: dev
     # jackson时间格式化
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
  mvc:
    view:
      prefix: /WEB-INF/
      suffix: .jsp
  http:
    encoding:
      charset: utf-8
      enabled: true
      force: true
    multipart:
      enabled: true
      max-file-size: 100MB
      max-request-size: 10MB
  redis:
          open: false  # 是否开启redis缓存  true开启   false关闭
          database: 0
          host: localhost
          port: 16379
          password:       # 密码（默认为空）
          timeout: 6000  # 连接超时时长（毫秒）
          pool:
              max-active: 1000  # 连接池最大连接数（使用负值表示没有限制）
              max-wait: -1      # 连接池最大阻塞等待时间（使用负值表示没有限制）
              max-idle: 10      # 连接池中的最大空闲连接
              min-idle: 5      # 连接池中的最小空闲连接
  resources:
    static-locations: classpath:/static/,classpath:/views/
#mybatis配置
mybatis:
  config-location: classpath:mybatis/mybatis.xml
  mapper-locations: classpath:mybatis/mapper/*.xml
#  configuration:
#    aggressive-lazy-loading: false
#    lazy-loading-enabled: true
#    jdbc-type-for-null: null
#    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
#    map-underscore-to-camel-case: true

#server配置
server:
   #tomcat配置
  tomcat:
   uri-encoding: UTF-8
   max-threads: 1000
   min-spare-threads: 30
   #连接地址与超时时间配置
 #connection-timeout: 5000
 #context-path: /realware
  connection-timeout: 5000
  context-path: /realware
#mybatis 分页脚本
pagehelper:
  helper-dialect: mysql
  reasonable: true
  support-methods-arguments: truecount=countSql
  params: count=countSql
   #初始化脚本设置
   #    schema:
   #      - classpath:department.sql
